    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<style>
    .menu-on-top .menu-item-parent {
        min-width: 105px;
    }
</style>
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li >
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">الرئيسية</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("index", "home")" title="Dashboard"><span class="menu-item-parent">الرئيسية </span></a>
                    </li>
                </ul>
            </li>




            @if (@HttpUtility.UrlDecode(SmartAdminMvc.Models.Cookies.get_SuperAdmin()) == "1")
            {
                <li>
                    <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">التعريفات  </span></a>
                    <ul>

                        <li>
                            <a href="@Url.Action("Index", "Carbrands")" title="Dashboard"><span class="menu-item-parent"> الماركات     </span></a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "CarModels")" title="Dashboard"><span class="menu-item-parent"> الموديلات     </span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Stores")" title="Dashboard"><span class="menu-item-parent"> المخازن     </span></a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "ItemCategories")" title="Dashboard"><span class="menu-item-parent"> تصنيفات الاصناف  </span></a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Items")" title="Dashboard"><span class="menu-item-parent"> الاصناف     </span></a>
                        </li>

                        <li>
                            <a href="@Url.Action("index", "customer")" title="Dashboard"><span class="menu-item-parent">  العملاء  </span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "StoresBalances")" title="Dashboard"><span class="menu-item-parent">ارصدة الاصناف</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Itemindex", "StoresBalances")" title="Dashboard"><span class="menu-item-parent">  بحث  الاصناف  </span></a>
                        </li>

                    </ul>
                </li>
            }

            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">الصيانة </span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("index", "Invoice")" title="Dashboard"><span class="menu-item-parent">  كل الفواتير  </span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Invoice")" title="Dashboard"><span class="menu-item-parent">  فاتورة جديدة  </span></a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-file-pdf-o"></i> <span class="menu-item-parent">تقارير    </span></a>
                <ul>
                    <li>

                        <a href="@Url.Action("InvoicesInDate", "Reports")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent"> بيان بعمليات الصيانه خلال فتره</span></a>

                    </li>
                    <li>

                        <a href="@Url.Action("InvoicesDetailsInDate", "Reports")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent"> بيان تفصيلى بعمليات الصيانه خلال فتره</span></a>

                    </li>

                    <li>

                        <a href="@Url.Action("ItemsBalance", "Reports")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent"> ارصده الاصناف خلال فتره</span></a>

                    </li>

                </ul>
            </li>


            <li>
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa fa-gears"></i> <span class="menu-item-parent">الاعدادات </span></a>
                <ul>


                    @if (@HttpUtility.UrlDecode(SmartAdminMvc.Models.Cookies.get_SuperAdmin()) == "1")
                    {
                        <li>
                            <a href="@Url.Action("Index", "Users")" title="Dashboard"><span class="menu-item-parent"> المستخدمين   </span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("EditConfig", "Settings")" title="Dashboard"><span class="menu-item-parent">  بيانات الشركة   </span></a>
                        </li>
                    }

                    <li>
                        <a href="@Url.Action("EditUser", "Users")" title="Dashboard"><span class="menu-item-parent">تعديل  كلمة المرور    </span></a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="@Url.Action("Logout", "Users")" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout">

                    <span class="fa fa-sign-out fa-lg"></span> تسجيل خروج
                </a>

            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->