

<!--@model  SmartAdminMvc.Controllers.SalesPrint

<a class="btn btn-circle default purple-stripe hidden-print" style="width:160px;" onclick="printdiv('Rep');">
    طباعه <i class="fa fa-print"></i>
</a>



<style>
    .img-container {
        text-align: center;
    }
</style>

<div id="content">-->
    <!-- widget grid -->
    <!--<section id="widget-grid" class="">-->
        <!-- row -->
        <!--<div class="row">-->
            <!-- NEW WIDGET START -->
            <!--<article id="Rep" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                <!-- Widget ID (each widget will need unique ID)-->
                <!--<div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
                   <header>
                        <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
                        <h2>Item #44761 </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <div class="padding-10">
                                <div class="row">
                                    <div class="img-container">
                                        <img src="~/content/img/truelogo.png" width="250" alt="invoice icon">
                                    </div>
                                    <div class="col-sm-12">
                                        <h3 class="font-400" style=" text-align: center; ">الفاتورة</h3>
                                    </div>
                                </div>

                                <div class="pull-left">
                                    <address>
                                        <br />
                                        <strong> العميل :  @ViewBag.CustomerName </strong>
                                        <br />
                                        <strong> الخصم :  @Model.master.Discount</strong>
                                        <br />
                                        <strong>  ملاحظات : @Model.master.Notes</strong>
                                        <br />
                                    </address>
                                </div>
                                <div class="pull-right">
                                    <br />
                                    <strong> رقم الفاتورة :  @Model.master.InvoiceNo</strong>
                                    <br />
                                    <strong> تاريخ الفاتورة : @Model.master.InvoiceDate</strong>
                                    <br />
                                    <br />
                                    <div class="well well-sm  bg-color-darken txt-color-white no-border">
                                        <div class="fa-lg">
                                            الصافى :
                                            <span class="pull-right"> @Model.master.net EG </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>


                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>اسم الصنف</th>
                                            <th>السعر  </th>
                                            <th>الكميه  </th>
                                            <th> الاجمالى </th>
                                            <th> الوحدة</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Details)
                                        {
                                            <tr>
                                                <td>@item.ItemName</td>
                                                <td><a href="javascript:void(0);">@item.Price</a></td>
                                                <td>@item.Qty</td>
                                                <td>@item.ItemTotal</td>
                                                <td class="text-center"><strong>@item.sUnitName</strong></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <div class="invoice-footer">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="invoice-sum-total pull-right">
                                                <h3><strong>الاجمالي: <span class="text-success">@Model.master.Total EG</span></strong></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>-->

