@model SmartAdminMvc.Models.SalesInvoice

@{
    ViewBag.Title = " فاتوره  مبيعات ";
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>@ViewBag.Title</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <form id="smartform" class="smart-form">

                            @{Html.RenderPartial("~/Views/shared/_btnSave.cshtml");}
                            @{Html.RenderPartial("~/Views/Sales/_Master.cshtml");}
                            @{Html.RenderPartial("~/Views/Sales/_Details.cshtml");}
                            @{Html.RenderPartial("~/Views/Sales/_CalcArea.cshtml");}

                            @{Html.RenderPartial("~/Views/shared/_btnSave.cshtml");}
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@section pagespecific {
    @Html.Partial("_SalesScript")
    <script type="text/javascript">
         var saveUrl = '@Url.Action("EditSales", "Sales")';
        var redirectUrl = '@Url.Action("index", "Sales")';


       function GetSalesInvoiceRow() {
            var DocNo = $("#InvoiceNo").val();
            $.ajax({
                url: '@Url.Action("GetSalesInvoiceRow", "Sales")',
                dataType: "json",
                data: { "InvoiceNo": DocNo },
                type: "Post",
                success: function (data) {
                    var result = data.data;
                    console.log(data.data);
                    for (var i = 0, len = result.length; i < len; i++) {
                        debugger;
                        var object = {
                            SerialNo: i + 1,
                            ItemID: result[i].ItemID,
                            ItemName: result[i].ItemName,
                            Qty: result[i].Qty,
                            Price: result[i].Price,
                            PurchasePrice: "0",
                            nUnitID: result[i].nUnitID,
                            sUnitName: result[i].sUnitName,
                             ItemTotal:  (result[i].ItemTotal === null) ? 0 : result[i].ItemTotal,
                            ItemDiscount:  (result[i].ItemDiscount === null) ? 0 : result[i].ItemDiscount,
                            ItemNet:  (result[i].ItemNet === null) ? 0 : result[i].ItemNet,
                            ItemTax:  (result[i].ItemTax === null) ? 0 : result[i].ItemTax,
                        };
                        debugger;
                        DetailsList.push(object);
                    }
                    DrawTable(DetailsList);
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }
    $(document).ready(function () {
            loadDropDown();
             ValidateForm();
          GetSalesInvoiceRow();
          CheckCustomer();
        });
    </script>
}
