@model SmartAdminMvc.Models.InvoiceVM

<fieldset>


    <div class="row">

        <section class="col col-3">
            <label class="label ">رقم الفاتورة<span style="color:red">&nbsp;*</span></label>
            <label class="input">
                <input type="text" readonly name="ID" id="ID" value="@Model.ID">
            </label>
        </section>

        <section class="col col-3">
            <label class="label ">تاريخ الفاتورة<span style="color:red">&nbsp;*</span></label>
            <label class="input">
                <input type="text" class="form-control input-append datepicker" name="Date" id="Date" value="@Model.DateStr" readonly>
            </label>
        </section>

        <section class="col col-3">

            <label class="label">  العميل<span style="color:red">&nbsp;*</span></label>
            <label class="input">
                @Html.DropDownList("CustomerId", null, "", htmlAttributes: new { @class = "form-control select2", @id = "CustomerId", @onchange = "LoadCustomerData()" })
            </label>
        </section>

        <section class="col col-3">
            <label class="label ">   رقم هاتف العميل  </label>
            <label class="input">
                <input type="text" name="CustomerPhone" id="CustomerPhone" readonly>
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-3">
            <label class="label"> الماركة <span style="color:red">&nbsp;*</span></label>
            <label class="input">
                @Html.DropDownList("BrandId", null, "", htmlAttributes: new { @class = "form-control select2", @id = "BrandId", @onchange = "LoadModelData()" })
            </label>
        </section>

        <section class="col col-3">
            <label class="label ">الموديل<span style="color:red">&nbsp;*</span></label>
            <select class="form-control select2" id="ModelId" name="ModelId" onchange="LoadItemData()">
                <option value="-1">اختر الموديل</option>
            </select>
        </section>

        <section class="col col-3">
            <label class="label ">  رقم اللوحة  <span style="color:red">&nbsp;*</span> </label>
            <label class="input">
                <input type="text" name="PlateNumber" id="PlateNumber" value="@Model.PlateNumber">
            </label>
        </section>

        <section class="col col-3">
            <label class="label ">  عدد الكيلو متر  <span style="color:red">&nbsp;*</span> </label>
            <label class="input">
                <input type="text" name="km" id="km" value="@Model.km">
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-3">
            <label class="label ">  رقم الشاسية </label>
            <label class="input">
                <input type="text" name="ChassisNo" id="ChassisNo" value="@Model.ChassisNo">
            </label>
        </section>

        <section class="col col-9">
            <label class="label ">  ملاحظات </label>
            <label class="input">
                <input type="text" name="Notes" id="Notes" value="@Model.Notes">
            </label>
        </section>
    </div>

</fieldset>
