@model SmartAdminMvc.Models.Configuration
@{
    ViewBag.Title = " الاعدادات  ";
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>@ViewBag.Title</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <form action="" id="smartform" class="smart-form">

                            <fieldset>
                                <div class="row">

                                    <section class="col col-3">
                                        <label class="label ">الضريبة     <span style="color:red">&nbsp;*</span></label>
                                        <label class="input">
                                            <input type="text" name="Vat" id="Vat" value="@Model.Vat">
                                        </label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="label ">اسم الشركة     <span style="color:red">&nbsp;*</span></label>
                                        <label class="input">
                                            <input type="text" name="CompanyName" id="CompanyName" value="@Model.CompanyName">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label ">Logo     <span style="color:red">&nbsp;*</span></label>
                                        <label class="input">
                                            <input type="text" name="Logo" id="Logo" value="@Model.Logo">
                                        </label>
                                    </section>


                                </div>
                            </fieldset>
                            @{Html.RenderPartial("~/Views/shared/_btnSave.cshtml");}
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

@section pagespecific {


    <script type="text/javascript">
    var saveUrl = '@Url.Action("editconfig", "settings")';
        var redirectUrl = '@Url.Action("index", "home")';
       //  var NameOfListProp = "DetailsListProp";
         function ValidLogicData() {

                return true;

        }
    function ValidateForm() {

        var validator = $("#smartform").validate({

            // Rules for form validation
            rules:
                {

                    ItemID: {
                        required: true
                    },
                    ItemName: {
                        required: true
                    },
                    Price: {
                        required: true
                    },
                    PurchasePrice: {
                        required: true
                    }


                },

            // Messages for form validation
            messages: {
                ItemID: {
                    required: 'الرجاء ادخال قيمه'
                },
                ItemName: {
                    required: 'الرجاء ادخال قيمه'
                },
                Price: {
                    required: 'الرجاء ادخال قيمه'
                },
                PurchasePrice: {
                    required: 'الرجاء ادخال قيمه'
                }

            },

            // Ajax form submition
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function () {

                    }
                });
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            invalidHandler: function (form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    validator.errorList[0].element.focus();
                }
            }
        });


    }







    $(document).ready(function () {

        ValidateForm();


    });



    </script>
}